[2014-08-23 17:28] navp4l opened #1 "Error when publishing changes in the apps / content project from workspc to the local AEM instance"
I repeatedly get the below error when trying to publish the apps or the content projects to the AEM server

[23 August, 2014 10:11:04 PM IST] AddOrUpdateNodeCommand -> /apps/example/tests : JcrResult[ success:false, exception: org.apache.sling.ide.transport.RepositoryException - javax.jcr.nodetype.ConstraintViolationException: no matching property definition found for {}dependencies](39 ms)
org.ap

[2014-08-27 14:07] eglistefan opened #2 "Provide archive download to eclipse.adobe.com"

[2014-08-27 14:25] #2 closed, assigned to nobody

[2014-08-29 07:10] eglistefan opened #3 "it.tests not filtered out during first deployment"
When creating a new copy of the sample-project-archetype using the wizard, although the code at [0] should filter this out the it.tests bundle is being deployed, which fails due to a missing junit dependency. The it.launcher deploys that junit dependency when the integration tests are explicitly run, but ootb it.tests should not be deployed.

[0] https://github.com/Adobe-Marketing-Cloud/aem-eclips

[2014-08-29 13:17] rombert opened #4 "Set up code signing"

[2014-08-29 13:18] #4 closed, assigned to rombert

[2014-09-01 16:17] gabrielwalt opened #5 "Plugin execution not covered by lifecycle configuration"
## Description

When creating a new AEM project, there are multiple (17) Eclipse errors on the various pom.xml, all starting with "Plugin execution not covered by lifecycle configuration".
## Environment
- Java 1.8.0_20
- Eclipse Luna 4.4.0
- Maven 3.2.1
- Sling IDE Tools 1.0.2
- AEM IDE Tools: UI-Extensions 1.0.0
## Steps to reproduce
- Create a new AEM Sample Multi-Module Project
- Achtetype: co

[2014-09-02 09:27] #5 closed, assigned to nobody

[2014-09-02 11:37] gabrielwalt opened #6 "Error when skipping server creation in wizard"
## Description

Skipping the server step of the project creation wizard doesn't offer a consistent experience.
## Steps to reproduce

Remove all projects, all server configurations and restart Eclipse. This is important otherwise the following instructions will show yet other problems than the ones described.

On a fresh Eclipse, create a project with the `AEM Sample Multi-Module Project` wizard,

[2014-09-02 11:54] gabrielwalt opened #7 "Improve rules for default content paths in project wizard"
The `AEM Sample Multi-Module Project` wizard offers a simplified way to create a project with just 3 fields: `Name`, `Group Id` and `Artefact Id`. But the `appsFolderName` and the `contentFolderName` don't get their values from any of them.

It would have been expected that the `Artefact Id` is taken for their default values.

[2014-09-02 12:59] gabrielwalt opened #8 "Unclear error when creating a project that already exists on filesystem"
When using the `AEM Sample Multi-Module Project` wizard to create a project that already exists in the `workspace` folder of the file system, then a cryptic error is displayed: `Unable to create project from archetype [com.adobe.granite.archetypes:sample-project-archetype:7]`.

This can happen frequently in trainings if someone creates a project with wrong parameters and wants to create it again,

[2014-09-02 13:36] gabrielwalt opened #9 "Typo in bundle status installed on the server"
## Description

When the bundle is not installed on a server, the message is:
`Installation support bundle is not present our outdated, deployment will not work`
It should be instead:
`Installation support bundle is not present or outdated, deployment will not work`

[2014-09-02 14:31] gabrielwalt opened #10 "Improve default values in New Server wizard"
The default values of the `New Server` wizard should be improved:
* The default `Port` should be `4502` instead of `8080`.
* The default `Pushing interval` should be `0` instead of `15`.

[2014-09-02 15:09] gabrielwalt opened #11 "Improve server creation in new project wizard"
Currently, the `AEM Sample Multi-Module Project` wizard asks for many details concerning the server as opposed to the `New Server` wizard.

We should pre-fill the values in the project creation wizard with following default values:
* Server name: Adobe Experience Manager at localhost
* Host name: localhost
* Port: 4502
* Username: admin
* Password: admin
* Debug Port: 30303

[2014-09-02 16:07] gabrielwalt opened #12 "Archetypes displayed in wizard not always consistent"
Initially, in the `AEM Sample Multi-Module Project` wizard there is only the `com.adobe.granite.archetypes : sample-project-archetype : 7` archetype listed.

But when a second project is created, it also displays a `com.adobe.granite.archetypes : sample-project-archetype : slingclipse-embedded` archetype.

I don't know wether only one or both should be listed, but it should at be consistent.

[2014-09-03 00:13] tenitram opened #13 "Cannot connect to server"
When hitting connect to server button I'm getting the following exception:

!SESSION 2014-09-03 02:04:46.728 -----------------------------------------------
eclipse.buildId=4.4.0.I20140606-1215
java.version=1.8.0_20
java.vendor=Oracle Corporation
BootLoader constants: OS=linux, ARCH=x86_64, WS=gtk, NL=en_US
Framework arguments:  -product org.eclipse.epp.package.jee.product
Command-line arguments:

[2014-09-10 20:56] tcpalmer opened #14 "Support for 5.6.1?"
http://docs.adobe.com/docs/en/dev-tools/aem-eclipse.html states that 5.6.1 is supported but the archetype obviously creates AEM 6 projects.  Is there any support for 5.6.1 developers?  Once the archetype is public I guess I could hack that and fix dependencies, etc but I'm hoping someone has already done that ;)

Even after that's done, can I expect any significant issues trying to use the plugin

[2014-09-16 08:55] #14 closed, assigned to nobody

[2014-09-19 11:17] #1 closed, assigned to rombert

[2014-09-19 13:26] rombert opened #15 "Support m2e 1.6 or newer"
Due to https://bugs.eclipse.org/bugs/show_bug.cgi?id=403243 , the org.apache.maven packages are exported with a mandatory provider=m2e attribute.

[2014-09-19 13:42] #12 closed, assigned to rombert

[2014-09-19 13:42] #15 closed, assigned to rombert

[2014-09-19 13:50] #9 closed, assigned to rombert

[2014-09-24 04:09] mikeyhendy opened #16 "dialog constructs not working"
Neither classic or touch UI based dialogs work properly.

Classic:
The dev tools won't allow the creation of a cq:Widget or cq:TabPanel underneath a cq:WidgetCollection.
Importing the dialog created in CRXDE Lite from AEM instead of creating them in eclipse kind of works for classic, so long as you don't try and update it at any stage within Eclipse.

Touch:
Creating a node with name of "cq:dialog

[2014-09-25 09:59] ashlyjose opened #17 "Add error overlay when the content sync root does not exist"
Not sure if it is the wrong way I'm doing it, but how to get existing project up and running with AEM Developer Tools for Eclipse?

My colleague has set up a project using AEM Developer Tools plugin for Eclipse and now I need that project setup in my Eclipse, with deploying it to my local AEM 6 instance.

When I import the project to my workspace as Maven project, it is imported properly, but I ca

[2014-09-30 07:09] mikeyhendy opened #18 "cq:htmlTag nodes not appearing in eclipse view"
Related to my issue around dialog's (and more importantly with cq:dialog's), creating a node of name "cq:htmlTag" doesn't synch to AEM - Errors out: complaining about a double colon (::) in the node name.

When creating a node of type "nt:unstructured" and name of "_cq_htmlTag", this syncs correctly with a node name of "cq:htmlTag" to AEM, however it doesn't appear inside eclipse.  Looking in the

[2014-10-01 19:04] #18 closed, assigned to rombert

[2014-10-02 19:34] #6 closed, assigned to rombert

[2014-10-02 19:48] #8 closed, assigned to rombert

[2014-10-02 20:38] #17 closed, assigned to rombert

[2014-10-09 08:57] #16 closed, assigned to rombert

[2014-10-13 20:00] rombert opened #19 "Deployed site should not hardcode update site location and artifact"
Currently the generated update site HTML page [hardcodes the location of the update site](https://github.com/Adobe-Marketing-Cloud/aem-eclipse-developer-tools/blob/0a8f6df911b6fe613de45db0d37aa961ea88aefe/com.adobe.granite.ide.p2update/siteTemplate/index.html#L27) and also [hardcodes the location of the zipped update site](https://github.com/Adobe-Marketing-Cloud/aem-eclipse-developer-tools/blob/0

[2014-10-15 01:12] mikeyhendy opened #20 "Cannot delete nodes of name cq:dialog or cq:htmlTag as type of nt:unstructured"
With the latest eclipse build, we can create touch dialogs now (cq:dialog - nt:unstructured), however once created inside a component, eclipse doesn't allow the option to delete them.

See image:
![image](https://cloud.githubusercontent.com/assets/7391911/4639172/31728134-5408-11e4-9aa0-f79a52e1e039.png)

Currently, the only way to remove these nodes is to go to the filesystem and remove them.

[2014-10-17 21:39] #19 closed, assigned to rombert

[2014-10-17 21:41] rombert opened #21 "Reference Sling IDE Tooling through p2 update site"
We should not rely on locally installed artifacts for the Sling IDE Tooling. Although it can be convenient, Tycho flags it as a warning and we should make reuse the officially deployed artifacts.

[2014-10-17 21:56] #21 closed, assigned to rombert

[2014-10-20 17:06] sb-pk opened #22 "not getting JCR properties in Eclipse after adding the AEM Dev tool CQ"
![image](https://cloud.githubusercontent.com/assets/9323430/4705389/4ecf4056-587b-11e4-8a60-4e8bc0945f33.png)

Please help me to resolve it..

[2014-10-22 20:06] rombert opened #23 "Ensure that installing the AEM Developer Tools brings in a recent enough version of the Sling IDE Tooling"
As seen in #13 , it's possible for a new version of the AEM Dev Tools to coexist with an old version of the Sling IDE Tooling. We should make sure that when installing/updating the AEM Dev Tools we pull in a 'recent enough' version of the Sling IDE Tooling.

[2014-10-22 20:07] #13 closed, assigned to rombert

[2014-10-24 23:47] #20 closed, assigned to rombert

[2014-10-25 08:45] #23 closed, assigned to rombert

[2014-11-10 12:54] #22 closed, assigned to nobody

[2014-11-10 14:55] digarg opened #24 "Classic view issue while editing/displaying parsys"
I am using aem eclipse developer tool . I have followed the steps listed here and created my project called training.
http://docs.adobe.com/content/docs/en/dev-tools/aem-eclipse.html.Issue is when I view the below page in classic mode I get  javascript error :
http://localhost:8080/cf#/content/training/en.html
Uncaught ReferenceError: CQ is not defined en.html:29(anonymous function)

<script type=

[2014-11-10 16:05] #24 closed, assigned to nobody

[2014-11-23 19:14] SBPrakash opened #25 "Getting error when including a jsp in another jsp in AEM eclipse"
Fragment "/apps/company/global.jsp" was not found at expected path /company.ui.apps/
 apps/company/global.jsp.

Pls help me to resolve it..

[2014-11-23 19:17] SBPrakash opened #26 "Not getting the suggestions when i am pressing control+space in AEM eclipse"

[2014-12-07 10:09] SBPrakash opened #27 "i am not seeing dialog under my component after using AEM eclipse"
pls help..

[2014-12-22 10:21] kanika1901kapoor opened #28 "Server | Publishing failed"
Used the Eclipse AEM plugin(installed from Eclipse marketplace) to create AEM multimodule project (sample-project-archetype-7).
Configured a new server with port, hostname, username  same as that of the running AEM instance and
Server Runtime Environment as Adobe Experience Manager.

But, unable to start server and deploy bundles. Gives following error:
Publishing failed
Could not publish to the s

[2015-01-08 08:32] #27 closed

[2015-01-08 09:49] SBPrakash opened #29 "The TagExtraInfo class for "cq:defineObjects" (com.day.cq.wcm.tags.DefineObjectsTEI) could not be instantiated"
I am facing this issue in global.jsp.. pls help me... "on hovering <cq:defineObjects/> and <sling:defineObjects/>" I am getting this error.
Attached the screenshot.
![screen shot 2015-01-08 at 15 13 28](https://cloud.githubusercontent.com/assets/9323430/5660704/5b363004-9749-11e4-81de-8e79a6739534.png)

[2015-01-12 13:31] rombert commented on #28
If you go to About Eclipse -> Installation Details do you see something similar to the below screenshot?

You should have an 'AEM Developer Tools' entry with version at least 1.0.2 and two child entries - Sling IDE Tools and Sling IDE Tools, M2e-based with version at least 1.0.4 .

![aem-dev-tools-installation-details](https://cloud.githubusercontent.com/assets/21237/5703489/f5716c28-9a6f-11e4-811

[2015-01-19 06:59] hanggao121 opened #30 "de.pdark.decentxml.XMLParseException when I input japanese text in xml"
I write japanese character in xml node,then occur exception.
Log:
de.pdark.decentxml.XMLParseException: Line 8, column 29: Missing end quote (") of attribute: "\n        sling:messa..."
    at org.apache.sling.ide.eclipse.ui.nav.model.TolerantXMLTokenizer.parseAttribute(TolerantXMLTokenizer.java:69)
    at de.pdark.decentxml.XMLTokenizer.next(XMLTokenizer.java:229)
    at de.pdark.decentxml.XMLPar

[2015-01-19 07:45] rombert commented on #30
Thanks for the report, I'll have a look for the next release

[2015-01-21 02:14] hanggao121 commented on #30
thanks for reply.
There has strangely in my test.When I input word as "カレンダー",there has not error.
When I input other word such as "北海道",error was happened.

[2015-01-22 00:03] ashlyjose commented on #28
@rombert  this happens when the plugin is installed from Eclipse Marketplace. When installed from marketplace, Sling IDE tools does not get installed. If you check the installation details, you will be able to see only AEM Developer Tools with no child nodes.

@kanika1901kapoor as a solution/workaround, you can install the plugin directly from http://eclipse.adobe.com/aem/dev-tools/  (please refer

[2015-01-22 10:33] rombert commented on #28
@ashlyjose  - thanks for the information and workaround! If that is the case, this is fixed by #23 .

@kanika1901kapoor - can you confirm that the workaround works?

[2015-01-27 21:05] tlwhit2 opened #31 "Component Dialogs Deleted When Publishing Changes to .Java Files"
1) Create New Project in Eclipse Dev Tools Using Maven Archetype 7.
2) Connect to Local AEM 6.0 SP1 with Content Project.
3) Run Maven Build once with autoInstallPackage to get whole project deployed.
4) Edit & save a .java file in a component in the ui.apps project with any syntax error ( and sometimes, even with no error).
5) Confirm that dialogs are missing from component on server.

[2015-01-27 21:08] tlwhit2 opened #32 "JCR_ROOT Path Breaks Upon Project Import"
1) Create AEM project using Developer Tools for Eclipse, Maven Archetype 7.
2) Delete project from Eclipse, but do not delete contents on disk.
3) File->Import->Maven->Existing Maven Projects, select the project you created in step 1.
4) Look at 'problems' tab, and note that jcr_root is not correct.
5) Look at ui.apps project properties, note that path under 'AEM' tab is not correct (only has jcr_

[2015-01-27 21:08] rombert commented on #31
@tlwhit2  - thanks for the report. I _think_ this is actually [SLING-4098- Full coverage aggregates nested under a partial coverage aggregate incorrectly deleted when a sibling resource is published](https://issues.apache.org/jira/browse/SLING-4098) .

Can you try a trunk build of the Sling IDE Tooling to validate that it indeed fixes your bug? Please follow the instructions from [Sling IDE Toolin

[2015-01-27 21:24] tlwhit2 opened #33 "AEM->Export To Server Generates "Not Direct Child" Error"
1) Create project in Eclipse with Maven Archetype 7 & Configure to deploy to local AEM Author (Filesystem mode).
2) Run Maven build once with -P autoInstallPackage to get initial deployment.
3) Make any change in ui.apps.
4) Right-click on ui.apps, choose AEM->Export to Server...
5) Choose local server.
6) Runs for a while and then generates 'not a direct child' error (Resource at path /target/cla

[2015-01-27 23:21] tlwhit2 commented on #31
Hmm. Can't seem to get sling source to build:

[2015-01-27 23:29] rombert commented on #31
What maven command did you use? Also, it seems that Tycho skips compilation, probably finds the classes as compiled by Eclipse.

You should run `mvn clean package` to be on the safe side.

[2015-02-05 16:39] TylersDesk opened #34 "Unable to save/sync while connected to server in debug mode"
When I start my server I can save files locally and they are synced to the server's JCR just fine.

When I put a break point into a JSP and enter debug mode, run a page that uses the component, my debug view in Eclipse works just fine.

When I am connected in debug mode, and make changes to a file, then hit save, it attempts to sync but then fails the operation and gives me this message:

Could no

[2015-02-05 19:27] tlwhit2 commented on #31
Just checking in to see if we have a feel for when this fix might be released. Thanks!

[2015-02-06 09:38] rombert commented on #31
We should be able to release a new version by the end of February, but right now I can't make any hard promises.

[2015-02-06 11:20] rombert commented on #34
Thanks for the report. I've seen this as well, recently filed https://issues.apache.org/jira/browse/SLING-4374 .

[2015-02-12 15:12] saulovenancio commented on #28
Thanks for input. Was not clear to me in the AEM Dev tools if needed to install Sling IDE. Maybe that should be added.
Thanks.

[2015-02-12 16:57] saulovenancio opened #35 "how to unpublish without republishing"
Hi,
i am trying to remove all published content from the JCR, but there is just a button to clean and republish.
isnt there one for clean only the once published from JCR?
Thanks.

[2015-02-12 18:41] saulovenancio opened #36 "InstallBundle -> D:\workspace\eclipse\example\core\target\classes : Project P/example.core does not have a META-INF/MANIFEST.MF (yet) - not publishing this time (0 ms)"
Hi,
how can i fix this problem?
the archetype version 7 doesnt create this file for default.
Where can i find documentation on this issue?
Thanks.

[2015-02-12 18:59] #36 closed

[2015-02-12 18:59] saulovenancio commented on #36
solved building the bundle project. then the Manifest file is done.

[2015-02-13 21:02] rombert commented on #35
For the moment this isn't possible, but I'll keep it as an enhancement request

[2015-02-13 21:21] rombert commented on #32
Yup, it's a bit awkward now to set up. Also tracked in [SLING-3766 - Store the project's content sync root property in the filesystem](https://issues.apache.org/jira/browse/SLING-3766)

[2015-02-17 23:07] rombert commented on #34
The content sync issue has been fixed in the Sling IDE Tooling project ( see [SLING-4374: Intermittent error when publishing content](https://issues.apache.org/jira/browse/SLING-4374) ) and will be incorporated in the next AEM Developer Tools public release.

If you'd like to build a fix yourself, please follow the instructions from [Sling IDE Tooling - building from source](https://sling.apache.o

[2015-02-17 23:07] #34 closed

[2015-02-17 23:12] rombert commented on #30
I can't get an error with any of the test words. Can you please upload a minimal test file that I can use to trigger the error myself?

[2015-02-20 12:38] rombert commented on #33
This issue has been fixed in the Sling IDE Tooling project ( see [SLING-4445:Don't consider files outside the content sync root when exporting a project to the server](https://issues.apache.org/jira/browse/SLING-4445) ) and will be incorporated in the next AEM Developer Tools public release.

If you'd like to build a fix yourself, please follow the instructions from [Sling IDE Tooling - building f

[2015-02-20 12:38] #33 closed

[2015-02-20 12:50] rombert commented on #3
This issue has been fixed in the Sling IDE Tooling project ( see [SLING-4446: AbstractNewSlingApplicationWizard publishes modules which are not deployed](https://issues.apache.org/jira/browse/SLING-4446) ) and will be incorporated in the next AEM Developer Tools public release.

If you'd like to build a fix yourself, please follow the instructions from [Sling IDE Tooling - building from source](ht

[2015-02-20 12:50] #3 closed

[2015-02-21 00:13] rombert opened #37 "Add action for opening node in CRX DE Lite"

[2015-02-21 21:11] rombert opened #38 "Setup Travis build"
@gabrielwalt - can you please enable the Travis build for this repo and for the aem-project-archetype? See http://docs.travis-ci.com/user/getting-started/ for details. Once the webhook is activated, I can take care of the rest.

Thanks!

[2015-02-23 12:50] rombert opened #39 "Creating a project using the AEM project archetype is slow"
I timed this today and it takes about 2:30 minutes. Progress reporting is also quite poor, we should be able to improve it.

[2015-02-23 14:02] rombert opened #40 "Content navigator does not display renditions for a dam asset"
![dam-renditions-not-shown-in-content-navigator](https://cloud.githubusercontent.com/assets/21237/6328997/551cc9bc-bb75-11e4-8bf5-94798e5c5a15.png)

[2015-02-24 13:03] rombert opened #41 "clientlib.css not refreshed when child .css files are being deployed"
(originally reported by @eglistefan)

In the aem-project-archetype we have a sample clientlib. That one causes problems lately, namely the clientlib.css remains empty.

When adding an unrelated property to /etc/designs/myapp/clientlib, the clientlib mechanism (ie HtmlLibraryManagerImpl) seems to be correctly triggered and the clientlib.css is refreshed properly.

What is likely happening is this:

[2015-02-26 15:31] rombert commented on #31
Closing since this is fixed in the Sling IDE Tooling and will be incorporated in the next release

[2015-02-26 15:31] #31 closed

[2015-02-27 01:30] arunrajmohan opened #42 "Issue rendering page in CQ -"Uncaught ReferenceError: CQ is not defined""
I am facing an issue in my CQ Environment. The page breaks with a ERROR in the browser console :"Uncaught ReferenceError: CQ is not defined" in the line below.Can you please give pointers.

The Error in Browser is below:
"Uncaught ReferenceError: CQ is not defined;"

[2015-02-27 11:42] rombert commented on #42
It's not very clear to me - is this related to the AEM Developer Tools for Eclipse for is this a general CQ question?

[2015-03-02 09:08] #37 closed

[2015-03-02 12:35] rombert commented on #38
@Adobe-Marketing-Cloud/owners - can one of you please enable the Travis build hook for aem-eclipse-developer-tools and aem-project-archetype?

Thanks

[2015-03-02 12:40] acollign commented on #38
I can certainly do that. Lets coordinate offline.

[2015-03-02 12:41] rombert commented on #38
Great, thanks @acollign

[2015-03-02 13:35] rombert commented on #38
Fixed, thanks a lot for your help

[2015-03-02 13:35] #38 closed

[2015-03-04 14:10] #35 closed

[2015-03-04 14:12] rombert commented on #35
@saulovenancio - did you close this because you don't find it important anymore? I kept it open to consider for future releases

[2015-03-05 01:08] gabrielwalt opened #43 "Finish button broken in server step of new project wizard"
If the server already exists and a new project is created, when reaching the last step where the server is to be configured, if the default choices are ok and nothing has to be modified on that screen, then the Finish button is disabled.

Work-around: change something and revert it, the Finish button can then be clicked.

[2015-03-06 22:24] gabrielwalt opened #44 "Publishing error when a project got newly created"
After a project is newly created, following error is shown.

![publishing-error](https://cloud.githubusercontent.com/assets/130083/6537509/9baf307a-c414-11e4-908e-c9d6be64ba8c.png)

[code]

[2015-03-06 22:53] rombert commented on #44
Dupe of #3 . You can build from git using `mvn clean verify` to get the latest bits. Hopefully I'll be able to deploy 1.0.4 next week to push all the recent fixes

[2015-03-06 22:53] #44 closed

[2015-03-30 14:10] gabrielwalt opened #45 "New project should offer option to use already existing folder."
When creating a new project and a corresponding folder already exists, then it fails without any useful help message. Instead, it should offer the option to overwrite that folder.

[2015-04-01 07:03] gabrielwalt opened #46 "Syncing favicons seems to corrupt them"
Steps to reproduce:
* Create a new project using the archetype
* Sync it to an AEM instance
* The favicon is now corrupted:
  /etc/designs/${appsFolderName}/favicon.ico

[2015-04-01 14:32] gabrielwalt opened #47 "Change icon of the extension to an AEM icon"
Also update the icon to the latest rebrand (on dark background).

[2015-04-09 06:31] patricklwy14 opened #48 "Unable to deploy latest bundle changes to Author"
From the main project directory, run cmd = mvn clean install -PautoInstallBundle for the first time. Bundle deploy successfully.

Do some changes like add new classes, new methods in existing class and update the version in package-info.java. Run the same command again and it indicate BUILD SUCCESS from the command prompt.

**What's observed:**
1. The JAR under /apps/project/install should be the

[2015-04-09 07:27] rombert commented on #48
@patricklwy14 - it's not clear to me from your report, but are you using the AEM developer tools for Eclipse when deploying?

[2015-04-09 11:42] patricklwy14 commented on #48
I'm using eclipse luna JEE version, having AEM Dev Tools 1.0.4 plugin installed for development.
I then use my Terminal command prompt to run the maven command (mvn clean install -PautoInstallBundle) to deploy.

[2015-04-09 11:43] rombert commented on #48
Right, but do you deploy using the AEM Dev Tools?

[2015-04-09 11:44] patricklwy14 commented on #48
I guess nope...cause essentially it's only maven command, right?

[2015-04-09 11:44] patricklwy14 commented on #48
I chance upon some forum mentioning that if the bundle version is the same, it won't get updated unless the version number ended with -SNAPSHOT. Could it be the root cause here?

[2015-04-09 11:45] rombert commented on #48
That's right, please use -SNAPSHOT for your Maven artifact version.

[2015-04-09 11:48] patricklwy14 commented on #48
Arggss..!!! OSGI Bundle...! Thanks for the prompt response guys!

[2015-04-09 11:49] #48 closed

[2015-04-09 11:50] rombert commented on #48
Cool, happy to help

[2015-04-17 16:35] gabrielwalt opened #49 "Easy conversion of content packages into Maven projects"
It should be possible to easily convert or import a content package into a content project.

[2015-04-17 16:52] Omnipresent commented on #49
Absolutely! I'm in a position where I have access to the package from package manager but not the source from eclipse ( with pom.xml). I want to add additional features to this package and reverse engineering a pom.xml is not trivial.

Happy to contribute towards making this happen

[2015-04-25 20:37] ghost opened #50 "Wrong namespace in the XML file for cq:EditConfig node"
Steps to reproduce this issue.
1. From within AEM Eclipse Developer Tools, create a node with node type = cq:EditConfig under a cq:Component node. Let's call it Component-A
2. Double click the cq:EditConfig node to open up as XML.
3. Notice that there's a namespace = xmlns:sling="http://sling.apache.org/jcr/sling/1.0"
4. Repeat step ONE on another component (Component-B) but using CRXDE Lite.
5. F

[2015-04-27 13:30] rombert opened #51 "New project creation wizard possibly refreshing too many projects"
I noticed today when creating a new project that an unrelated project was shown as being refreshed.

![ide-tooling-wrong-project-refreshed](https://cloud.githubusercontent.com/assets/21237/7348484/b9d1dfda-ecfa-11e4-8199-c0b7b3b2e9c1.png)

[2015-05-07 10:41] kmurugulla opened #52 "failing to auto deploy bundles - SocketTimeout"
Eclipse - 4.4.1
AEM Developer Tools - 1.0.4
Sling IDE Tools - 1.0.6
Sling IDE Tools,M2e-based -1.0.6
Java - 1.7.0_67
Mac OSX 10.10.3
AEM Server setting :
"Publish -->Automatically Publish when resource changes" with publishing interval of 5 secs.
and "Install --> Install bundle directly from filesystem""

Issue on auto deploying bundles -
Failed installing bundle : java.net.SocketTimeoutException:

[2015-05-07 10:53] rombert commented on #52
Is your AEM instance running on localhost? If it is, does the port it uses (4502 I assume) match the one configured for the server in Eclipse?

[2015-05-07 11:30] kmurugulla commented on #52
Yes , my aem is on local instance 4502 and it matches the aem server config in eclipse .

[2015-05-07 11:33] rombert commented on #52
Is it possible that the deployment of that bundle takes a long time? Do you have anything related to its deployment in `crx-quickstart/logs/error.log`?

[2015-05-18 09:45] rombert opened #53 "Register the Adobe Public Repository archetype catalog using https"
We're using http now, but should be using https

[2015-05-20 13:03] rombert commented on #49
@Omnipresent - sorry, I missed this comment earlier. It's great that you're willing to contribute towards this feature! I currently don't have an idea on exactly how this can be implemented, so feel free to start with some suggestions. We can then find a way to plug these in the WTP framework.

[2015-05-29 16:28] justinedelson commented on #29
There's a few different problems which can cause this and it really isn't related to the AEM Eclipse Developer Tools.

* The original Uber Jar for AEM 6.0 didn't have tld files.
* The Uber Jar for AEM 6.0 and 6.1 (which do have tlds) have obsfucated class files which can't be instantiated. Since Eclipse's JSP support require instantiating the TagExtraInfo class, this fails.

A solution which works

[2015-05-31 16:42] patricklwy14 commented on #29
Hi justinedelson, didn't quite get what you trying to explain. I did include both Sling and CQ taglibs in my xxx.ui.apps module's dependency, and I still have the same issue. Here's my dependency:

![1 jun 2015 12 34 19 am](https://cloud.githubusercontent.com/assets/7502803/7902766/05fbe808-07f7-11e5-853d-6944dfb16b5f.png)

[2015-05-31 19:37] justinedelson commented on #29
Try moving those two dependencies *above* the AEM API dependency. That works for me, although not 100% of the time for reasons I've yet to figure out.

[2015-06-01 05:17] patricklwy14 commented on #29
Thanks for the prompt response. After applied the sequence you mentioned, I tried clean the project, close and reopen, restart Eclipse...still NO LUCK. I guess I'll just leave it alone for the time being. Thanks for the help anyway.

[2015-07-21 09:47] ashlyjose opened #54 "Remove AEM Nature not available"
If a project is configured as a Content Project (by mistake), there should an option to remove the AEM nature from the project

[2015-07-21 09:55] eglistefan commented on #54
good idea!
ps: meanwhile this can be achieved manually by modifying the nature section in the .project file.

[2015-07-21 13:16] rombert commented on #54
@ashlyjose - converting to a content/bundle project does two things

- adds the faceted project nature
- adds a content/bundle facet

The facets can be removed by right-clicking on the project, selecting project facets, unchecking the particular facet you want to remove and pressing OK.

I'm not sure if it's possible to remove the faceted nature, but that's out of scope for us

[2015-07-21 18:55] ashlyjose commented on #54
Thanks @rombert - it works.

It is possible to remove the faceted nature as Maven plugin does it. You have the option in Maven to remove maven nature

[2015-07-24 13:49] rombert commented on #54
By "out of scope for us" I mean to say that the faceted nature is something we inherit from the other Eclipse projects and we should not try to remove it.

[2015-07-27 10:42] rajeevy69 commented on #28
@All, I am getting below error when trying to start my AEM server An internal error occurred during: "Starting Adobe Experience Manager at localhost".
java.lang.ClassNotFoundException: org.apache.jackrabbit.jcr2spi.Jcr2spiRepositoryFactory

Any help is really appreciated.

[2015-07-27 11:26] rajeevy69 opened #55 "ClassNotFoundException: org.apache.jackrabbit.jcr2spi.Jcr2spiRepositoryFactory error when trying to start AEM server in eclipse"
@All, I am getting below error when trying to start my AEM server An internal error occurred during: "Starting Adobe Experience Manager at localhost".
java.lang.ClassNotFoundException: org.apache.jackrabbit.jcr2spi.Jcr2spiRepositoryFactory

Any help is really appreciated.

[2015-07-28 06:02] rajeevy69 commented on #26
Are you using Window 7? Win 7 has reserved these keys. You need to go in eclipse preference and set another key for content assist.

[2015-07-30 07:55] rombert commented on #28
@rajeevy69  - what version of the AEM developer tools for Eclipse and of the Sling IDE tooling do you use?

[2015-07-30 07:56] rombert commented on #55
@rajeevy69  - you already posted in #28 so let's keep the discussion there

[2015-07-30 07:56] #55 closed

[2015-08-04 13:41] rombert commented on #50
@patricklwy14 - thanks for the report. I was able to reproduce the error that you mentioned - for the record it is

org.xml.sax.SAXParseException; lineNumber: 6; columnNumber: 26; The prefix "cq" for attribute "cq:layout" associated with an element type "jcr:root" is not bound.

Now, this simply says that you have added a cq:layout attribute without declaring the cq namespace in the XML file. The

[2015-09-01 07:27] ChangeChe opened #56 "AEM tools in luna"
I installed the aem-eclipse-developer-tools in Luna, but when I start it and the message "No runtime available" showed up. Is this error caused by the version of eclipse?

[2015-09-01 07:42] ChangeChe commented on #56
I use https://eclipse.adobe.com/aem/dev-tools/ to install the tool, and it start successfully

[2015-09-01 07:42] #56 closed

[2015-09-30 19:07] rombert commented on #40
This issue has been fixed in the Sling IDE Tooling project ( see [SLING-4988:Not all folders are displayed in Project Explorer](https://issues.apache.org/jira/browse/SLING-4988) ) and will be incorporated in the next AEM Developer Tools public release.

[2015-09-30 19:07] #40 closed

[2015-09-30 19:23] rombert commented on #43
This issue has been fixed in the Sling IDE Tooling project ( see [SLING-5081:Unable to advance in the project creation wizard if the server is pre-selected](https://issues.apache.org/jira/browse/SLING-5081) ) and will be incorporated in the next AEM Developer Tools public release.

If you'd like to build a fix yourself, please follow the instructions from [Sling IDE Tooling - building from source]

[2015-09-30 19:23] #43 closed

[2015-09-30 19:26] rombert commented on #47
@gabrielwalt  - can you attach the new icons? I should be able to update them for the next release

[2015-09-30 19:37] rombert commented on #46
I'm unable to reproduce this, I verified in the following way:

1. Create sample project ( archetype version 11-snapshot )

Check sha1sum for the favicon: a0a8733a15b85813411087035d4bd477371059ee

2. Create AEM server in Eclipse
3. Connect to AEM server in Eclipse
4. Deploy .apps project to server from Eclipse

Check sha1sum for the favicon: a0a8733a15b85813411087035d4bd477371059ee

4. Go to the .

[2015-09-30 19:37] #46 closed

[2015-09-30 19:38] rombert commented on #42
No feedback, closing

[2015-09-30 19:38] #42 closed

[2015-09-30 19:47] #53 closed

[2015-09-30 19:58] rombert commented on #41
I am no longer able to reproduce this ; with a sample project built from the 11-SNAPSHOT version of the archetype after deploying the .apps and .content projects the http://localhost:4502/etc/designs/test/clientlib-all.css is correctly rendered.

[2015-09-30 19:58] #41 closed

[2015-09-30 19:59] rombert opened #57 "Include Sling IDE Tooling 1.0.10"

[2015-10-05 10:18] rombert opened #58 "Duplicate mnemonic on SimplerParametersWizardPage"
![mnemonic-conflict](https://cloud.githubusercontent.com/assets/21237/10278133/815e3aee-6b63-11e5-9a8e-bd1bc372e87d.png)

[2015-10-05 10:19] #58 closed

[2015-10-05 11:17] rombert commented on #32
This issue has been fixed in the Sling IDE Tooling project ( see [SLING-3766:Store the project's content sync root property in the filesystem](https://issues.apache.org/jira/browse/SLING-3766) ) and will be incorporated in the next AEM Developer Tools public release.

[2015-10-05 11:17] #32 closed

[2015-10-25 06:29] priyaAEM commented on #1
Hi Rombert,

I am still facing this issue after creating a fresh AEM Multi Module project.

Issue 1) Failed publishing path=/content/dam/diginova, result=JcrResult[ success:false, exception: org.apache.sling.ide.transport.RepositoryException - javax.jcr.ReferentialIntegrityException: OakIntegrity0001: Unable to delete referenced node]
Issue 2) Exception Trace:
org.apache.sling.ide.eclipse-core
Err

[2015-10-26 10:32] rombert commented on #1
@priyaAEM - can you please open a new bug and let me know what versions of

- AEM Developer Tools
- Sling IDE Tooling

you have installed?

[2015-11-04 00:44] munkeyjooce opened #59 "Can you explain Install section of Server config"
In the Install "Specify how to install bundles on the server", it would be good if you can explain the differences between "Install bundles via bundle upload" and "Install bundles directly from the filesystem" - which one do you use when and how does it affect the server connection.

I have looked on the Sling IDE Tooling page and there is nothing specific there either.

[2015-11-09 09:13] #57 closed

[2015-11-17 13:54] eglistefan commented on #59
Thx for reporting, @munkeyjooce, I've now added an explanation in rev 1714784 - the public docu site should be updated with this change soon.

[2015-11-20 13:07] rombert commented on #59
FTR, the changes that @eglistefan mentioned are live at https://sling.apache.org/documentation/development/ide-tooling.html#server-configuration .

I consider this fixed, please reopen if you need more details.

[2015-11-20 13:07] #59 closed

[2015-11-21 00:08] munkeyjooce commented on #59
Thanks! Much appreciated.

[2015-12-03 19:16] kmurugulla opened #60 "can't import"
Hi,

I have a maven multi module project , checked out from git , imported into eclipse . All aspects of AEM Dev tooling working except import .

While i am trying to import /apps of my project , i see the following errors in eclipse

org.eclipse.core.runtime.CoreException: Import failed
    at org.apache.sling.ide.eclipse.ui.wizards.ImportWizard$1$1.run(ImportWizard.java:101)
    at org.eclipse.c

[2015-12-07 13:48] rombert commented on #60
I can't reproduce this. What exact steps did you take to import the application? What version of the AEM dev tools do you use?

[2015-12-07 16:22] kmurugulla commented on #60
@rombert : The issue seems to be with happening with this specific AEM Project that i am using dev tools with .
AEM Dev Tools -> 1.0.6
Sling IDE Tools --> 1.0.10

The following details may help you guess whats going on ..

Step 1: I have setup an AEM project using information available at https://github.com/Adobe-Consulting-Services/lazybones-aem-templates
Step 2: Added another content project mod

[2015-12-08 12:13] rombert commented on #60
@kmurugulla what I suggestion is:

- verify if this happens on other projects, e.g. https://github.com/Adobe-Marketing-Cloud/aem-project-archetype
- if it does, please let me know the exact steps you take, e.g. where you click, what menu items you use
- if it does not, try and setup a minimal project where this happens and upload it so I can try it out myself

Thanks!

[2016-01-11 17:13] cmrockwell commented on #29
I have the same problem after upgrading to 6.1 using the obfuscated uber jar and the taglibs shown above. I know this isn't a AEM Eclipse Dev Tools issue per se. We use Sightly, but still would like JSP support in eclipse. It would be really great if this plugin had a solution for JSP's in the IDE, or maybe example of Maven settings required for it.

[2016-01-13 07:50] jbaix commented on #29
I solved the issue (in AEM61) including the dependency:
<dependency>
<groupId>org.apache.sling</groupId>
<artifactId>org.apache.sling.scripting.jsp.taglib</artifactId>
<version>2.2.4</version>
<scope>provided</scope>
</dependency>

Thank you Justin!
Regards

[2016-01-19 14:46] cmrockwell commented on #29
Perfect! Updating org.apache.sling.scripting.jsp.taglib version to 2.2.4 worked for me.
Thanks

[2016-01-19 15:56] rombert commented on #29
Thanks all for the comments. I've updated the AEM Developer Tools for Eclipse documentation - https://docs.adobe.com/content/docs/en/dev-tools/aem-eclipse.html#Enabling%20tag%20library%20autocompletion%20in%20JSP%20files .

[2016-01-19 15:56] #29 closed

[2016-01-20 22:18] cmrockwell opened #61 "AEM Javadocs"
I'm using AEM 6.1, but Javadocs don't seem to work in Eclipse. I'm looking for advice relating to this SO question.   http://stackoverflow.com/questions/25820428/how-to-configure-javadocs-for-aem-cq5-6

It seems Javadocs are available..
https://repo.adobe.com/nexus/content/groups/public/com/adobe/aem/uber-jar/6.1.0/

According to the link below there should not be a need to explicitly add the Java

[2016-01-28 14:34] eglistefan commented on #61
Besides http://stackoverflow.com/questions/44396/how-to-reference-javadocs-to-dependencies-in-mavens-eclipse-plugin-when-javadoc , have you also tried configuring the javadoc jar in eclipse (in the Project Explorer, open 'Maven Dependencies' and right-click on the jar you want to attach it to)?

[2016-02-03 21:28] AliShirazi opened #62 "JCR Properties- adding cq:designPath to jcr:content(PageContent) node"
Hey guys,

I am getting a weird error when adding the cq:designPath to the jcr:content PageContent node. It says "The prefix "cq" for attribute "cq:designPath" associated with an element type "jcr:content" is not bound. Thinking the property type was the issue, I then tried to manually set it to String but no luck. It just stays empty. I also made sure the property was listed before jcr:primaryTyp

[2016-02-03 21:54] rombert commented on #62
Thanks for the report. How do you add the property, with the XML editor or via the JCR properties view?

[2016-02-03 21:58] AliShirazi commented on #62
Hey Robert,

Not a problem, thanks for the quick reply! I tried to add it with both the XML editor and the JCR properties view.

Eclipse Version: Mars.1 Release (4.5.1)

I'm also using the latest version of the AEM plugin

[2016-02-03 22:23] AliShirazi commented on #62
Robert,

It looks like this is actually a namespace issue, similar to https://github.com/Adobe-Marketing-Cloud/aem-eclipse-developer-tools/issues/50. I noticed the .context.xml file imported from CRXDE lite had xmlns:cq="http://www.day.com/jcr/cq/1.0".  I mentioned above about the issue with adding/re-adding, but I can't reproduce it after restarting eclipse and having the namespace there.

I gues

[2016-02-05 12:22] jpmc216 opened #63 "Could not Publish to Server - Generates "Not Direct Child" Error"
When I try to add a AEM 6.1 content project to server (Eclipse Mars), this is the error I get.

*_Could not publish to the server. Resource at path  /apps/test/components/image/analytics is not a direct child of /apps/test/components/image/tab_properties. *_

If i ignore this error and go ahead and make any changes under "/apps", this is the error i get.

**Failed publishing path=/apps, result=Jcr

[2016-02-15 11:58] rombert commented on #63
Thanks for the report. Can you upload a minimal content package which reproduces the 'not direct child' problem?

[2016-02-15 12:21] rombert commented on #61
@cmrockwell - I am not sure what is going wrong here. The AEM plugin does not in any way try to influence javadoc resolution, so it's all Maven/m2e here.

I would suggest the following steps:

1) Right-click the aem-api jar ( or equivalent for 6.1 ) and click on Maven and then on Download JavaDoc

![m2e-download-javadoc](https://cloud.githubusercontent.com/assets/21237/13048498/eaf3f78e-d3ee-11e5-

[2016-02-15 17:36] jpmc216 commented on #63
Rombert,

Our project folder structure is little different. So even though I am able to add this as content project, I am not able to see changes getting reflected.

I also created Linked Folder (jcr_root) to point to webapp folder. That didnt work as well.

![image](https://cloud.githubusercontent.com/assets/14977933/13056000/8a432080-d3e0-11e5-8a42-d1b88c85c135.png)

[2016-02-15 18:54] NeLk42 opened #64 "Not getting JCR Properties in Eclipse after adding AEM Dev Tools"
I know it's been mentioned a few times and all seemed to be human error, and I 'm guessing mine will be a case of human error as well, but I'm starting to go nuts here.

Installed AEM Dev Tools
<img width="870" alt="screenshot 2016-02-15 18 29 30" src="https://cloud.githubusercontent.com/assets/7836921/13057557/e88c0114-d414-11e5-8289-208b04b165c1.png">
With the Developer tools installed I created

[2016-02-16 09:45] rombert commented on #63
How is your project structure different? Can you describe your project layout?

[2016-02-16 11:22] rombert commented on #64
Thanks for the detailed report. The reason for the inconsistency is that the facet information is stored in the `.settings` directory. That one is typically included in the `.gitignore` rules and not pushed to git.

When you clone a project from git you don't receive those files and therefore the project is not defined as a content project. For bundle projects this works but it's not easy to addre

[2016-02-16 12:31] rombert commented on #62
I'll close this then as a duplicate and continue the discussion in #50

[2016-02-16 12:37] rombert commented on #50
Adding @AliShirazi from duplicate issue #62

Some things which we can do better here, in no particular order:

- validate the vault files and trigger errors in the editor. The standard XML validator from Eclipse is disabled as it generates ( in the valut file scenario ) spurious warnings but we can add a custom one with better messages
- when adding a (namespaced) property via the properties view,

[2016-02-16 12:51] jpmc216 commented on #63
Project layout looks this.

![image](https://cloud.githubusercontent.com/assets/14977933/13076339/aac884b8-d47f-11e5-931a-3084251ed882.png)

1. We do not have "jcr_root" folder, used "webapp" folder for that.
2. filter.xml is under this folder "src/main/resources/META-INF/vault/"

Because I was not able to add "app" part of the project as content project, I created a dummy folder with name "conten

[2016-02-16 14:00] rombert commented on #63
I have set up a folder structure similar to the one you described, and with a simple project sync works as expected ( see screenshot below )

![eclipse-sling-linked-folder](https://cloud.githubusercontent.com/assets/21237/13078234/5b5798c8-d4c6-11e5-8962-40b4624db44e.jpeg)

Not sure what exactly is going on in your case, but I'd need a simplified project to make progress on discovering the root ca

[2016-02-17 13:31] NeLk42 commented on #64
Converting projects to Content package will only make sense for the Content and Apps modules, the rest of them are not content and don't need access to JCR properties, right?

What about the Bundle projects, is there no need for us to convert them to Bundle Packages?

Last but not least, would you consider eventually adding the option to import AEM projects to Eclipse to properly set them up like

[2016-02-19 22:01] rombert commented on #64
Right

No, that one is done automatically when a project has the maven-sling-plugin configured.

Yes, that is on the roadmap. [SLING-3100](https://issues.apache.org/jira/browse/SLING-3100) has more details about it.

Agreed, I'll add them to the documentation.

[2016-02-21 11:01] jpmc216 commented on #63
Rombert,

I have uploaded test image component which is causing issues. Can you try adding to the same project and test your changes.

[sample-component.zip](https://github.com/Adobe-Marketing-Cloud/aem-eclipse-developer-tools/files/139574/sample-component.zip)

[2016-02-22 01:16] jpmc216 commented on #63
Additional Information

1. Our project is set up based on AEM 6.1.
2. After modifying /apps as nt:folder rather than sling:Folder, I bypassed though the below error.
https://github.com/Adobe-Marketing-Cloud/aem-eclipse-developer-tools/issues/1    and I am able to see "JCR Properties" for all nodes now.
3. But I am still unable to sync the files and folders. I get the below error.

![image](https:/

[2016-02-22 09:15] eglistefan commented on #63
@jpmc216 this looks like /apps is not part of the filter.xml - check the filter.xml file under src/main/content/META-INF

[2016-02-22 10:11] NeLk42 commented on #64
Ok, thanks for all your help!

[2016-02-22 10:26] jpmc216 commented on #63
filter.xml looks like this.

![image](https://cloud.githubusercontent.com/assets/14977933/13215632/d53ef07a-d924-11e5-8ef9-ed1e9ca30d0c.png)

[2016-02-22 10:39] eglistefan commented on #63
perhaps that's the problem - does it work when you call it jcr_root?

[2016-02-22 10:44] jpmc216 commented on #63
I have created a linked folder "jcr_root" pointing to webapp. That should work as well right?

![image](https://cloud.githubusercontent.com/assets/14977933/13216032/63474686-d927-11e5-8f98-f4402a688753.png)

[2016-02-22 10:47] eglistefan commented on #63
Perhaps try without linking (but moving the content under jcr_root) - if that works and linking not, then we'd have narrowed down the problem

[2016-02-22 11:31] jpmc216 commented on #63
Created folders rather than linked folders and this is the error I get.

java.lang.IllegalArgumentException: Resource at path /apps/test/components/image/analytics is not a direct child of /apps/test/components/image/tab_properties
at org.apache.sling.ide.transport.ResourceProxy.addChild(ResourceProxy.java:62)
	at org.apache.sling.ide.eclipse.core.internal.ResourceChangeCommandFactory.normaliseRes

[2016-02-26 14:33] rombert opened #65 "Add a 'New AEM JSP file' template"
The template should be quite simple:

    <%@ page session="false"%>
    <%@ include file="/libs/foundation/global.jsp"%><%
    ${cursor}
    %>

[2016-02-26 14:34] #65 closed

[2016-02-26 21:59] rombert commented on #64
I'll close this as a dupe of #49 since it's about content packages import. The good news is that it's very likely that the next release will have this content package import ( documentation included ).

[2016-02-26 22:02] rombert commented on #64
Hm, #49 is about something else, let's reopen until the Sling issue is committed.

[2016-02-26 22:35] rombert commented on #63
I have tested the image component that you attached and it works fine for me ... I am using the latest trunk version, but there have been no changes which are relevant to this scenario.

It's a shot in the dark, but can you gather the Eclipse trace logs as decribed at https://sling.apache.org/documentation/development/ide-tooling.html#gathering-debug-information ? Please enable all 'Sling IDE Tool

[2016-02-26 23:01] rombert opened #66 "Convert OpenInCrxDeLiteAction to be a Handler"
This is required after the changes for [SLING-4046](https://issues.apache.org/jira/browse/SLING-4046)

[2016-03-03 13:53] rombert commented on #45
Reusing an existing folder is tricky - what if there is already data in there? It means that we either delete the existing data or merge the old and the new, neither of which is acceptable IMO.

Instead, the wizard warns that 'A project with the name $name already exists' and does not allow the user to proceed to the next step - done for #8 .

I'm going to close this as a WONTFIX, please reopen if

[2016-03-03 13:53] #45 closed

[2016-03-03 14:18] rombert commented on #51
Fixed in aee4e63bbf544899a81fb1fcad9e59af5cf24fc2

[2016-03-03 14:18] #51 closed

[2016-03-03 14:18] rombert commented on #39
Fixed in aee4e63bbf544899a81fb1fcad9e59af5cf24fc2

[2016-03-03 14:18] #39 closed

[2016-03-03 15:46] rombert commented on #11
Commit referenced incorrect issue, reopening

[2016-03-03 15:46] rombert commented on #10
Fixed in 91ea61b

[2016-03-03 15:46] #10 closed

[2016-03-11 21:57] cmrockwell commented on #61
Thanks a lot! very useful

[2016-03-11 21:58] #61 closed

[2016-03-14 09:51] #11 closed

[2016-03-14 09:51] #66 closed

[2016-03-28 16:33] chaik opened #67 "Creating project in Luna and Mars results in "The server does not support version 2.4 of the J2EE Web module specification""
Replication steps:

1) Started AEM at 4502 with debugging at port 10123
2) In Eclipse Luna or Mars, changed to AEM perspective
3) Create new project using AEM --> AEM Sample Multi-Module Property
4) selected archetype 10
5) Entered project details (I used the L313 Summit Lab information)
6) Configure the server (port 4502, debug port 10123)
7) After clicking Finish, results in: "The server does no

[2016-03-28 19:49] rombert commented on #67
Thanks for the detailed steps to reproduce, I'll take a look.

[2016-04-01 13:34] rombert commented on #67
The content sync issue has been fixed in the Sling IDE Tooling project ( see [SLING-5634: Content projects automatically configured as WST projects fail to deploy](https://issues.apache.org/jira/browse/SLING-5634) ) and will be incorporated in the next AEM Developer Tools public release.

If you'd like to build a fix yourself, please follow the instructions from [Sling IDE Tooling - building from

[2016-04-01 13:34] #67 closed

[2016-04-25 16:57] sandeepkumar03 opened #68 "OSGi bundle not getting uninstalled in case un-installation is done after new version installation of AEM package"
When we are overwriting a new package with new version, on un-installation the OSGi bundle is not getting removed from web console. Following are the steps to reproduce.

1. Create a new multimodule project from AEM Plugin
2. Build and deploy to AEM instance in Package Manager. (OSGi console shows bundle with version A)
3. Change the version of project created in step 1 to something different say

[2016-04-26 13:11] timdonovanuk opened #69 "Problems encountered while setting project description."
Using the AEM project wizard, on the "select or create a server screen", I get the error "Problems encountered while setting project description."

This is using the latest Eclipse, latest plugin, and latest archtype. If I had more info to provide I would..

[2016-04-26 13:12] rombert commented on #69
@timdonovanuk  - do you have any related entries in the Eclipse error log?

[2016-04-26 13:23] timdonovanuk commented on #69
Yep - apologies I was looking in the Problems tab not the Error log tab:

[code]

[2016-04-26 14:06] rombert commented on #69
Ah, I see. So it seems that you do not have the Javascript Development Tools installed. Is that correct?

[2016-04-26 14:25] timdonovanuk commented on #69
Indeed, I was trying it on Eclipse Mars Java dev edition - I tried installing Web Tools Platform (includes JDT) but that just caused further issues (from http://download.eclipse.org/webtools/repository/mars/).

I've previously tried this plugin with Luna (EE edition) but I get "The server does not support version 2.4 of the J2EE Web module specification." which is why I was testing it on another v

[2016-04-26 14:30] rombert commented on #69
Ah, the 2.4 version thing is something we solved but not yet released ( #67 ).

IIRC you should be able to workaround by setting the JRE version to 1.7 in your content project by setting the `source`/`target` properties for the `maven-compiler-plugin` to 1.7.

[2016-04-28 13:41] rombert commented on #68
Just to make sure I understand your issue,are you using the IDE tooling just to create the project from the archtype?

[2016-04-29 14:17] sandeepkumar03 commented on #68
Yes rombert, I am using IDE tooling to create project from the archetype.

[2016-05-02 05:18] sandeepkumar03 commented on #68
Some more additional info rombert,

From the [archetypes list](https://repo.adobe.com/nexus/content/groups/public/archetype-catalog.xml)

Following works fine
[code]

While  following does not

[code]

The `aem-project-archetype` generates extra exclude pattern

[code]

This exclude pattern is not present in the `multimodule-content-package-archetype`

Did few tests, after we remove this from filt

[2016-05-02 10:56] eglistefan commented on #68
I think the problem is in the nature of the chosen archetype behavior: @sandeepkumar03, as you pointed out the /apps/myapp/install folder is excluded from the package - with the idea that it gets installed directly by a bundle upload (via org.apache.sling.tooling.support.install bundle). That also means that if you remove the package, that the uploaded bundle is independent and thus doesn't get re

[2016-05-02 11:11] sandeepkumar03 commented on #68
@eglistefan One observation is that, the problem occurs only when we overwrite the package and then uninstall. If we just install package and uninstall package, the OSGi bundle is removed from OSGi console automatically, though filter definition has exclude pattern, still it works fine.

If removing the exclude pattern from filter seems to be fine, would raise an issue with [aem-project-archetype]

[2016-05-02 13:07] eglistefan commented on #68
@sandeepkumar03 - haven't tested the different when creating the projects via maven vs via the eclipse plugin - but what I can see is that uninstalling version B from package manager leaves version A installed - which means it doesn't remove the /apps/myapp/install - which is why the bundle is still there. So deleting after uninstall of B, then also uninstalling A removes the bundle.

[2016-05-02 14:35] sandeepkumar03 opened #70 "New project wizard doesn't lists all archetypes for project creation"
When creating a new project, the plugin is listing only archetypes with group `<groupId>com.adobe.granite.archetypes</groupId>` from the [archetypes list](https://repo.adobe.com/nexus/content/groups/public/archetype-catalog.xml)

The other archetypes of `<groupId>com.day.jcr.vault</groupId>` are not listed. Is this as per design?

[2016-05-02 14:44] eglistefan commented on #70
@sandeepkumar03 , yes, we explicitly [filter](https://github.com/Adobe-Marketing-Cloud/aem-eclipse-developer-tools/blob/0ead054a2c879bdfc99899d80072f0367548750d/com.adobe.granite.ide.eclipse-ui/src/main/java/com/adobe/granite/ide/eclipse/ui/wizards/np/NewGraniteProjectWizard.java#L58) for that groupId as the wizard can only handle those archetypes atm.

[2016-05-02 14:44] #70 closed

[2016-05-02 15:10] ronnyfm commented on #67
Can this PR be included as well? https://github.com/Adobe-Marketing-Cloud/aem-project-archetype/pull/60

[2016-05-02 15:13] sandeepkumar03 commented on #70
okay great. Thanks @eglistefan

[2016-05-19 09:25] Ketki17 opened #71 "AEM Eclipse Plugin: AEM Bundle(core module) not getting published"
Hi ,

I have been in AEM Developer tool , I followed the exact procedure given in this forum "https://docs.adobe.com/docs/en/dev-tools/aem-eclipse.html" but when I am trying to publish it to AEM Repository it giving me the following error:

Failed installing bundle: Method Execution returned status 500.

I am using following version:

Eclipse Luna SR2 (4.4.2)
Java: 1.7
AEM 6.1

[2016-05-19 10:10] rombert commented on #71
Do you have anything in the AEM error.log that can be linked to the installation erors?

[2016-05-19 10:17] Ketki17 commented on #71
Hi,

I am getting this error logged in error log file of AEM .

javax.jcr.nodetype.ConstraintViolationException: No default node type available for /system/sling/tooling
	at org.apache.jackrabbit.oak.util.TreeUtil.addChild(TreeUtil.java:186)
	at org.apache.jackrabbit.oak.jcr.delegate.NodeDelegate.addChild(NodeDelegate.java:692)
	at org.apache.jackrabbit.oak.jcr.session.NodeImpl$5.perform(NodeImpl.

[2016-05-19 11:01] Ketki17 commented on #71
DO I need to install any other software in eclipse to get the things work?

Thanks

[2016-05-19 11:14] rombert commented on #71
Looks like you don't have the Apache Sling Tooling Support Install bundle installed, but it should be installed automatically.

What version of the AEM Developer Tools are you using?

[2016-05-19 11:48] Ketki17 commented on #71
Hi ,

Please refer attached file for the version
![versions](https://cloud.githubusercontent.com/assets/6203403/15392544/5a897a20-1de5-11e6-8faa-fada99ed61bb.png)

And I check the Web Console also Apache Sling Tooling Support Install bundle is also installed ..
see this image file
![slingtool](https://cloud.githubusercontent.com/assets/6203403/15392592/a07ec4f4-1de5-11e6-94f5-c79f07bab1b2.png)

[2016-05-19 12:01] rombert commented on #71
Interesting that the bundle did not start. Can you try starting it from the Web Console? If it fails, what does it print in the error.log?

[2016-05-19 12:07] Ketki17 commented on #71
Yes I was about to ask you the same thing .

It is throwing this error ..

*ERROR* [qtp1759696269-245] org.apache.felix.http.jetty %bundles.pluginTitle: Cannot start (org.osgi.framework.BundleException: Unresolved constraint in bundle org.apache.sling.tooling.support.install [448]: Unable to resolve 448.27: missing requirement [448.27] osgi.wiring.package; (osgi.wiring.package=javax.servlet))
org.

[2016-05-19 13:01] rombert commented on #71
That is really weird ... `(osgi.wiring.package=javax.servlet)` should be satisfiable since you have Jetty running.

Is AEM launched from the quickstart or from a WAR file? Have you applied any customisations ( removed/added bundles/content packages)?

[2016-05-19 13:10] Ketki17 commented on #71
Nope i have not done any custimisations, I tried deleting sling tooling install bundle and reinstall it (downloaded bundle from "https://sling.apache.org/downloads.cgi") and it worked.

Thanks for the support :)

[2016-05-19 13:10] #71 closed

[2016-05-19 13:15] rombert commented on #71
Glad to hear that it works now :-)

[2016-06-07 13:00] sandeepkumar03 commented on #68
Closing this  issue, as the issue is raised for archetype separately.

[2016-06-07 13:00] #68 closed

[2016-06-08 10:12] jgrandscrutton opened #72 "Error creating new project - Failed while installing Sightly 1.1"
Using latest Eclipse, dev tools and archetype I get a "Failed while installing Sightly 1.1" error. Here's the Eclipse log info:

!ENTRY org.eclipse.m2e.logback.appender 2 0 2016-06-08 08:28:47.909
!MESSAGE Manifest com.adobe.patnersuccess:contentportal.core:bundle:0.0.1-SNAPSHOT : Unused Private-Package instructions, no such package(s) on the class path: [!*]

!ENTRY org.eclipse.m2e.logback.append

[2016-06-08 10:15] jgrandscrutton commented on #72
I tried removing "Sling IDE Tools - Sightly
Integration (Optional)" but I still get the same error. It appears that it might still be installed for AEM Developer Tools, but I don't have the option to uninstall it from there:

<img width="709" alt="screenshot 2016-06-08 10 45 15" src="https://cloud.githubusercontent.com/assets/5359941/15890979/404f6a36-2d6a-11e6-93a5-b6e0946d0cdc.png">

[2016-06-28 09:33] salman18j opened #73 "Core module in not getting added to server"
Hi,

I am using aem eclipse plugin in Eclipse Mars 2 on Mac OX. I am not getting option to add core module to AEM server. It is working on Windows version of Eclispe

Regards,
Salman

[2016-06-28 12:19] midnit commented on #73
Ditto... Created project from AEM perspective, didn't setup server on project creation due to Issue #67, so setup server after the fact, updated tomcat ports, right click to "Add and Remove..." and only seeing "project.ui.apps" and "project.ui.content"

[2016-06-28 22:27] midnit commented on #73
Thanks to @auniverseaway, you should check the diff between your bundle pom and a [vanilla bundle pom from Archetype10](https://github.com/Adobe-Marketing-Cloud/aem-project-archetype/blob/master/src/main/archetype/core/pom.xml)... For me, I was missing the following in the <build><plugins> section:

[code]

[2016-06-29 08:17] salman18j commented on #73
Thanks @midnit, I was also missing the same entry.

[2016-07-21 05:46] chetanyajain opened #74 "/rep:policy node for the root node does not get imported"
While running the command Import from server using eclipse it doesn't import the rep:policy that is present at the root level i.e. filter-vlt.xml containing <filter root="/rep:policy" />.

Observed this issue with Eclipse Neon.

[2016-07-27 15:11] rombert commented on #74
Users and ACLs don't get imported, see also https://issues.apache.org/jira/browse/SLING-3827 . For me personally this is not on the roadmap yet as ACLs are not imported/changed that often, at least when compared to scripts and unstructured content.

[2016-07-29 00:45] chetanyajain commented on #74
The ACLs for other levels are getting imported. Only the one at the root level has issues - per the logs it iterates through the node, just that the file _rep_policy.xml doesn't get created.

[2016-07-29 05:00] rombert commented on #74
Ah, you're right, sorry. I misread that as ACLs are not exported. Yes, sounds like a bug.

[2016-09-09 20:57] re-jim opened #75 "New projects are created in a broken state"
Probably the same as https://github.com/Adobe-Marketing-Cloud/aem-eclipse-developer-tools/issues/72

I'm using Eclipse 4.5.2

Maven Apache Maven 3.2.5
Java version: 1.8
Windows 10

Here are my relevant plugins

![image](https://cloud.githubusercontent.com/assets/22106884/18402432/8f67b1f2-769c-11e6-9647-d3e88e18cb32.png)

When I create a new AEM Sample Multi-Module Project, selecting Archetype 10,

[2016-09-09 21:03] Millertaker commented on #72
Same Issue

[2016-09-09 21:22] Millertaker commented on #75
yeah the same, i think the plugin has the problem, if you clic cancel and then run a build from console, will work. I'm looking it now and its making changes when i publish. I not able yet to run the debug mode

<img width="1434" alt="screen shot 2016-09-09 at 4 21 02 pm" src="https://cloud.githubusercontent.com/assets/2975617/18403294/7da62680-76a9-11e6-9b89-6c082a10a98d.png">

[2016-09-09 21:27] re-jim commented on #75
@Millertaker, How do you run a build from console?

[2016-09-09 21:28] Millertaker commented on #75
go to root of your project and run the maven command:  ` mvn -PautoInstallPackage -PintegrationServer install `

[2016-09-09 21:35] re-jim commented on #75
After doing that I get six successes, and a warning that " The requested profile "integrationServer" could not be activated because it does not exist."

The launcher, tests, and apps folders still have errors associated with them, and I cannot add these resources to the server.

[2016-09-09 22:45] Millertaker commented on #75
try create all project through maven with this:

[code]

and import it as a maven prj on eclipse. Should be work as if you have created through  the wizard.

[2016-09-09 23:01] re-jim commented on #75
When I run that command and import the project as a maven project in Eclipse, I get this error from pom.xml:

cvc-elt.1: Cannot find the declaration of element 'project'.

I deleted a trailing space inside of xsi:schemaLocation and that fixed it.
This also doesn't provide all of the dependencies I get when creating a project through the wizard, but when I deploy it, it seems to work.

[2016-09-26 18:54] midnit commented on #75
@Millertaker - @re-jim is using Archetype 10, why would you instruct him to generate a new project with an extremely outdated archetype version? :anguished:

[2016-10-11 16:59] ofuangka opened #76 "Export ignores filter.xml"
I've exported /libs/foundation to jcr_root to get my JSPs to validate, but even though my filter.xml does not include /libs/foundation, the plugin fails to export:

Could not publish to the server.
Resource at path /libs/foundation/components/form/defaults/field is not a direct child of /libs/foundation/components/form/defaults/items

[2016-10-11 17:53] rombert commented on #76
Can you share a project which reproduces this problem? I can't fix the issue without reproducing.

[2016-10-11 20:15] ofuangka commented on #76
Unfortunately I can't share my source, but the problem seems to have to do with config.xml when it contains the following:

`<aggregate type="full" title="Full Coverage Aggregate">
            <matches>
                <include nodeType="rep:AccessControl" respectSupertype="true" />
                <include nodeType="cq:Widget" respectSupertype="true" />
                <include nodeType="cq:Widge

[2016-10-11 20:23] ofuangka commented on #76
Basically you should be able to create a dummy content-package project with a filter.xml and a filter-vlt.xml that contains `<filter root="/libs/foundation"/>` and a config.xml that contains the first snippet above. Then run `vlt export http://localhost:4502 .` in the content folder. For some reason that changes the contents of filter.xml, so you have to then remove `<filter root="/libs/foundation

[2016-10-12 07:41] tamipangadil commented on #75
Hi @re-jim,

I've also experienced this kind of problem. You just need to delete all your Maven repositories and try to create project again and it will be fine.

The main reason is the packages in your Maven repository could be corrupted. Maybe when it tries to download you have weak or intermittent connection.

Let me know if it works.

[2016-10-13 23:19] paul-bjorkstrand commented on #63
I have run into this in the past, and yesterday ran into it again (I forgot how exactly I fixed it last time). After debugging the Sling eclipse plugin itself, I stumbled upon how I solved the issue before.

When using the Sling IDE Tools (which AEM Eclipse Developer Tools uses and depends upon), it seems that one cannot have an arbitrarily named xml file that contains arbitrary nodes. This works

[2016-12-20 07:28] dutoitns commented on #72
Same issue.  New to AEM but just wanted to add my observation:
I created a project and then deleted it from Eclipse and the workspace directory - I then got this error when I tried to recreate it.  So somewhere Eclipse is picking up something that obstructs the project creation that wasn't in the workspace directory.  When I create projects with new names it works 100%.

[2016-12-20 07:34] dutoitns commented on #72
On retrying the same project name for the n-th time, it actually worked.  But yeah, there is definitely something wrong here - but unfortunately I can't consistently replicate the issue.

[2016-12-20 07:42] dutoitns commented on #72
Can this be a problem with Maven itself.  Anyhoo - new to AEM so won't speculate..

**Two screenshots attached**

**First Eclipse problem stacktrace:**
Description	Resource	Path	Location	Type
C:\workspace-shoprite\mywebsite\it.tests\src\main\java\org\myorg\mywebsite\it\tests\HelloWorldModelServerSideTest.java : Unable to load compiled class: org.myorg.mywebsite.it.tests.HelloWorldModelServerSideTe

[2016-12-21 12:32] rombert commented on #72
@dutoitns - could you file a separate bug report for the issue with _Unable to load compiled class: org.myorg.mywebsite.it.tests.HelloWorldModelServerSideTest_ ?

[2016-12-22 06:35] dutoitns commented on #72
I could - but I think the problem is actually something intermittently going wrong with the Maven build.
(and I can't replicate the issue consistently)

[2016-12-22 12:21] rombert commented on #72
Right, I'm also unable to replicate this consistently, which makes debugging and fixing much harder.

[2017-02-16 21:46] rombert commented on #67
For the record, it was merged

[2017-04-27 14:29] pnvardhan opened #77 "AEM-Eclipse plugin is not able to recognize the archetype11 projects.?"
Why AEM archetype11 projects are not able to show in Add resources when i try to add in AEM Server in Eclipse Neon for the Sync.
![image](https://cloud.githubusercontent.com/assets/28104826/25488089/f8e7b0ea-2b1a-11e7-9c33-bd1d6663dfbf.png)

And if i have only the projects open in Eclipse Neon that have been created by archetype11 (and all other aem archetype10 projects closed) then i can see a po

[2017-05-05 14:01] saggammahesh opened #78 "Project is creating in broken state"
Hi Team,
I  am trying to create a multi module project, but it's failing.
I am getting an error  "Could not update project training.core.configuration Java.lang.IllegalArgumentException"
![core_issue](https://cloud.githubusercontent.com/assets/7000621/25748647/6a04d88e-31c9-11e7-9d44-2d4ec6bc909e.png)

Below are the different versions i am using.
Java - 1.8
Eclipse Version: Neon
Maven - Inbuilt on

[2017-05-05 14:26] rombert commented on #78
Do you have more details in the eclipse error log?

On May 5, 2017 17:01, "saggammahesh" <notifications@github.com> wrote:

Hi Team,
I am trying to create a multi module project, but it's failing.
I am getting an error "Could not update project training.core.configuration
Java.lang.IllegalArgumentException"
[image: core_issue]
<https://cloud.githubusercontent.com/assets/7000621/25748647/6a04d88e-3

[2017-05-05 20:09] rombert commented on #77
Did you import just the root project or also all the sub-projects?

[2017-05-05 20:51] pnvardhan commented on #77
Yes  have imported all sub-projects,
Even with brand new aem-project-archetype:11 imported project, it wont be able to show up. attaching the Document to reproduce the issue, comparing aem-project-archetype:11 vs aem-project-archetype:10
[Eclipse Neon.docx](https://github.com/Adobe-Marketing-Cloud/aem-eclipse-developer-tools/files/980295/Eclipse.Neon.docx)

[2017-05-09 10:54] rombert opened #79 "Support the new launchpad project types from the Sling IDE Tooling"
See https://sling.apache.org/documentation/development/ide-tooling.html#launchpad-project-support . The same should be done for quickstart projects.

[2017-05-09 10:59] rombert commented on #77
I just tested and it "works for me". Do you have any entries in the Eclipse error log?

[2017-05-10 00:59] pnvardhan commented on #77
Yes, It gives the below Error.
[https://dev.eclipse.org/recommenders/community/aeri/v2/#!/submissions/SJXeVEhrpB5GXRgPwjkVTQVjTC9wxaSjP8PJ78ijODhsPyh92Q06BfxfgG6gqLlp](https://dev.eclipse.org/recommenders/community/aeri/v2/#!/submissions/SJXeVEhrpB5GXRgPwjkVTQVjTC9wxaSjP8PJ78ijODhsPyh92Q06BfxfgG6gqLlp)

[2017-05-16 20:15] sduvan commented on #78
@rombert  @saggammahesh
Same issue here, was playing with the new Archetype,  v11.  I am also on Eclipse Neon 3, verified my settings.xml (as per Adobe's recommendation). Issue is also reproducible when project is created through CMD:

However I can run successful Maven commands outside my IDE (Eclipse).

and even the bundle install works through CMD:

![aem bundle project sructure](https://cloud.

[2017-05-17 04:51] akfaircg commented on #78
@rombert,
I faced the same problem. I believe the problem is in the following code snippet that I took from the generated pom.xml in core module in the deceleration of the felix plugin:

`<executions>
      <execution>
           <id>bundle-manifest</id>
           <phase>process-classes</phase>
            <goals>
                 <goal>manifest</goal>
            </goals>
       </execution>
</e

[2017-05-17 07:05] saggammahesh commented on #78
@akfaircg
Thanks Mate, It started working after removing those few lines.

[2017-05-17 09:17] sduvan commented on #78
Also worked for me, thanks!

[2017-05-17 19:39] rombert commented on #78
Thanks for tracking down the issue @akfaircg . Would you be willing to submit a pull request for https://github.com/Adobe-Marketing-Cloud/aem-project-archetype/ with a fix?

[2017-05-18 00:57] akfaircg commented on #78
@rombert, I just submitted a pull request to https://github.com/Adobe-Marketing-Cloud/aem-project-archetype/. Thanks!

[2017-05-24 07:06] rombert commented on #78
Applied, thanks @akfaircg !

[2017-05-24 07:08] rombert commented on #77
This was an issue with the archetype, see #78

[2017-05-24 07:08] #77 closed

[2017-08-04 10:09] kwin commented on #50
The XML Validation has been enabled now for content-package projects (https://issues.apache.org/jira/browse/SLING-6237) so with the upgrade to Sling IDE 1.2.0 there should be a proper error message once you use an undeclared namespace.

[2017-08-17 20:03] rombert commented on #75
Looks to be the same issue as #72  - let's continue the discussion there.

[2017-08-17 20:03] #75 closed

[2017-08-17 20:21] rombert commented on #73
Looks like there's nothing more to do here, please reopen if needed.

[2017-08-17 20:21] #73 closed

[2017-08-27 00:00] vikrave commented on #63
Hi Paul

     I am also facing the same issue. I tried pauls solution and is not working . Does anyone have any solution ?

Thanks
Veena

[2017-08-29 13:33] kiranhsgithub commented on #64
Is Eclipse Neon supported? I am able to successfully install dev tools and can sync files with AEM. But it is currently not showing JCR properties even after I navigate from "Content Navigator".

![image](https://user-images.githubusercontent.com/7253222/29823584-131bb496-8c9d-11e7-8ba4-712f138e9827.png)

[2017-08-29 13:35] rombert commented on #64
@kiranhsgithub  - yes, that should work. Can you file a new issue about it an attach any relevant Eclipse error.log entries?

[2017-08-31 18:13] kiranhsgithub opened #80 "JCR Properties not loading in eclipse Neon"
I am able to successfully install dev tools and can sync files with AEM. But it is currently not showing JCR properties even after I navigate from "Content Navigator".

Logs:
!ENTRY org.apache.sling.ide.eclipse-core 2 0 2017-08-31 14:05:22.716
!MESSAGE No underlying properties file, cannot derive propertyType (jcr:primaryType) for JcrNode[dom:null, file:L/ui.apps/src/main/content/jcr_root/apps/deg

[2017-08-31 18:15] kiranhsgithub commented on #64
@rombert  thanks. Created an issue and attached logs #80

[2017-09-10 11:52] appsparkler commented on #78
thanks a lot @akfaircg!

@rombert, request you to help me understand.  In this thread you've mentioned _Applied_; however, when i run `mvn archetype:generate.....`, those lines are still there in the `core/pom.xml` file.  Are there any specific steps to get the project without the code-block that is causing the issue?

Thanks & Regards,
Akash

[2017-09-13 18:52] rombert commented on #78
@appsparkler - this is not yet included in a release, will be there in version 12 of the archetype.

[2017-09-13 18:54] rombert commented on #80
Can you upload a minimal project that reproduces the issue? Also, what version of Eclipse and what operating system do you use?

[2017-10-19 21:15] jakegarelick commented on #80
I am getting the same error. I am using this tutorial https://helpx.adobe.com/experience-manager/kt/sites/using/getting-started-wknd-tutorial-develop/part3.html and it happens when I add the cq:htmlTag node. There is a zip file of the project at the top of the pag.e

Eclipse: Version: Neon.3 Release (4.6.3)
Mac: Sierra 10.12.6

I have actually been getting quite a few similar errors throughout thi

[2017-10-20 18:21] jakegarelick commented on #80
Actually, after some further research, my `No underlying properties file` error is expected. I'll make a separate issue for another problem I'm having.

[2017-10-20 18:27] ghost opened #81 "JCR properties view: cq namespace not being added to .content.xml"
OS: macOS Sierra 10.12.6
Eclipse: Neon.3 Release (4.6.3)

![screen shot 2017-10-20 at 11 22 16 am](https://user-images.githubusercontent.com/13770733/31836096-f46cbcec-b588-11e7-8a46-4cda1b7da8c6.png)

`Failed reading file at /wknd-sites-guide.ui.apps/src/main/content/jcr_root/apps/wknd/components/structure/footer/_cq_htmlTag/.content.xml`
`java.io.IOException: org.xml.sax.SAXParseException; lineN

[2017-11-30 17:21] kwin commented on #78
I don't agree with the fix here. Removing the manifest execution has negative sideeffects as unit tests relying on Sling Mocks or AEM Mocks might no longer execute successfully. For details look at http://felix.apache.org/documentation/faqs/apache-felix-bundle-plugin-faq.html#use-scr-metadata-generated-by-bnd-in-unit-tests.

So the real solution is to get rid of the m2-tycho plugin at all (also co

[2018-01-08 11:20] testofwill22 commented on #81
I am getting exactly the same error. I was wondering if anyone found a solution to this problem please.

[2018-01-16 10:00] rombert commented on #81
@jakegarelick @testofwill22  - do do you add the property? If you're editing the `.content.xml` file manually you also need to add the cq namespace, for instance:

[code]

[2018-01-16 16:47] rombert commented on #81
It's a fair point that namespaces should be added automatically. Even though the Sling IDE tooling is not aware of CQ-specific stuff, we can always look at the server to find out the specific namespaces.

[2018-01-16 16:52] rombert commented on #81
I've added this in the Sling tracker as [SLING-7391 - Adding a namespaced property using the JCR properties view should ensure the namespace is present in the file](https://issues.apache.org/jira/browse/SLING-7391).

This won't make the next release though, I'm close to cutting it after unblocking some release hurdles at the ASF, and likely I will have to invest some time in code signing on the Ad

[2018-01-16 17:03] jakegarelick commented on #81
Thanks Robert. This seems to be a little over my head but I'll see if I can make a contribution.

[2018-01-16 19:38] rombert commented on #81
That would be awesome! If you want to give it a try feel free to ask here or (preferrably) users@sling.apache.org for any kind of questions.

[2018-01-17 20:06] testofwill22 commented on #81
Thanks Rombert. Adding the cq namespace manually fixed the issue. I was using the Sling IDE tooling as Jake mentioned. I opened up the .content.xml using the default eclipse editor and changed it. Many thanks for your support gents.

[2018-01-18 20:50] rombert commented on #81
Glad to hear you could at least fix the situation manually. Hopefully we'll have a proper fix in the future.

[2018-02-26 14:31] pulichintala commented on #63
i am trying to change jcr:primaryType of a new node under ui.content  and when i try to publish my changes i get this error

![eclipse](https://user-images.githubusercontent.com/28933873/36675675-125de73c-1ae0-11e8-8e1f-84a4e6a27fab.PNG)

[2018-02-26 14:51] eglistefan commented on #63
I think the problem is that you're automatically publishing the changes and that node existed previously with a different jcr:primaryType. Try manually removing the original node with CRXDE and republishing.

[2018-02-26 14:55] pulichintala commented on #63
@eglistefan i tried that as well did not help, even tried deleting ui.content folder and re-publishing and also i installed the new content package as well, still getting the same error.

[2018-02-26 15:00] eglistefan commented on #63
have you tried with a different node, eg /foo/bar?

[2018-02-26 15:24] pulichintala commented on #63
@eglistefan  deleting the main folder rather than a node and republishing fixed it.
Thank you.

[2018-11-02 14:01] not-entirely-random commented on #63
I consistently have this problem using AEM archetype 15 in Eclipse in Windows. AEM 6.4
Works fine until I reboot my VM and fails to deploy afterwards.
It cost me a lot of hours to figure this out, so "you are welcome" if my post helps you!

The following set of steps resolve the issue for me (until next reboot):
1. Disconnect from AEM instance in server pane

2. Disable automatic build

3. Select

[2018-12-18 14:18] perfeccionista commented on #80
I am facing same issue on eclipse photon. I see neither JCR properties nor create new -> node on left mouse click options on components node. Selected content module in facets too. Deselected dynamic web module also. Still no luck. Any help much appreciated.

My environment details are
AEM 6.4
Eclipse photon
Windows 10
JDK 1.8

[2019-02-15 14:57] bpauli opened #83 "Project creation fails with new archetype version"
When the latest aem archetype is used (v17) the project wizard can't be completed. Even when all properties are provided inside of the advanced dialog the error log shows the following exception:

[code]

[2019-07-29 09:45] bpauli opened #85 "Repo root is not detected in archetype 19"
With the change in [1] to the aem-maven-archetype the repo root is not detect anymore in the plugin.

![image (2)](https://user-images.githubusercontent.com/689884/62038582-4b01ef80-b1f6-11e9-9c31-0618f075818e.png)

[1] https://github.com/adobe/aem-project-archetype/commit/20cf62ba0e8ad466f31973d8cc2c45df37c15c87

[2019-10-09 16:41] jeremytrpka-perficient commented on #85
I've noticed it works from version 17 and lower. I am getting the same issue with version 18 where it only recognizes "src/main/resources" instead of "src/main/content".

[2019-10-26 05:50] dianas06 commented on #80
@perfeccionista , Has your issue resolved? I am facing same issue
AEM 6.4
Eclipse photon
Windows 10
JDK 1.8

[2019-11-05 00:00] alezzios commented on #80
I'm running Oxygen with Java 1.8 on macOS Mojave, and JCR properties are not displayed. Also the package explorer doesn't show nodes in JCR style.

[2019-11-05 07:48] sridharjayakumar commented on #80
@perfeccionista @dianas06 @alezzios I just got this working , here is my set up
- JDK 1.8 on macOS Catalina with the latest Eclipse IDE 2019-09 build.
- AEM 6.5, Maven project using archetype 20

Here is how I got it to work
1) I created the project by running the Maven command
`mvn archetype:generate
 -DarchetypeGroupId=com.adobe.granite.archetypes
 -DarchetypeArtifactId=aem-project-archetype
 -D

[2019-11-05 14:49] alezzios commented on #80
You rock! How did you realize about that?

[2019-11-13 13:08] Allan9217 opened #86 "Am facing issue in importing content from AEM in Maven Archetype 20"
No valid filter found in this project!

[2020-02-18 05:26] tbodake commented on #80
Thanks a lot @sridharjayakumar !!!
That was really helpful.

[2020-03-12 15:25] #83 closed

[2020-03-23 13:54] kwin commented on #85
This should be fixed by https://issues.apache.org/jira/browse/SLING-9117.

[2020-04-16 13:02] timdonovanuk commented on #72
FWIW some graduates I'm training up are also getting these identical errors! They are using an older version of Eclipse, getting them to update to Eclipse 2020 to see..

[2020-04-16 14:32] timdonovanuk commented on #63
Thanks @not-entirely-random! I was getting this with the WKND tutorial. Following your steps fixed it.

[2020-06-01 01:15] esaiventhan commented on #1
Just to add a note on this, I faced a similar issue. I saw a software update notice in my Eclipse alert message, and once I updated it fully (which also asked me to restart the IDE) - I could see no error. All works fine now.

[2020-08-26 13:19] VasiRahman commented on #49
Hi gabrielwalt,

Is it possible if yes? What are the steps needs to follow?

[2020-08-28 11:05] #47 closed

[2020-08-28 11:05] #49 closed

[2020-08-28 11:06] gabrielwalt commented on #49
Closing this as we won't have the bandwidth to work on that in the next months, sorry @VasiRahman.

[2020-08-28 11:08] gabrielwalt commented on #7
Closing this as there hasn't been activity since over a year.

[2020-08-28 11:08] #7 closed

[2020-08-28 11:08] gabrielwalt commented on #25
Closing this as there hasn't been activity since over a year.

[2020-08-28 11:08] #25 closed

[2020-08-28 11:09] gabrielwalt commented on #26
Closing this as there hasn't been activity since over a year.

[2020-08-28 11:09] #26 closed

[2020-08-28 11:09] gabrielwalt commented on #28
Closing this as there hasn't been activity since over a year.

[2020-08-28 11:09] #28 closed

[2020-08-28 11:09] gabrielwalt commented on #30
Closing this as there hasn't been activity since over a year.

[2020-08-28 11:09] #30 closed

[2020-08-28 11:09] gabrielwalt commented on #50
Closing this as there hasn't been activity for over a year.

[2020-08-28 11:09] #50 closed

[2020-08-28 11:10] gabrielwalt commented on #52
Closing this as there hasn't been activity for over a year.

[2020-08-28 11:10] #52 closed

[2020-08-28 11:10] gabrielwalt commented on #54
Closing this as there hasn't been activity for over a year.

[2020-08-28 11:10] #54 closed

[2020-08-28 11:10] gabrielwalt commented on #64
Closing this as there hasn't been activity for over a year.

[2020-08-28 11:10] #64 closed

[2020-08-28 11:10] gabrielwalt commented on #60
Closing this as there hasn't been activity for over a year.

[2020-08-28 11:10] #60 closed

[2020-08-28 11:11] gabrielwalt commented on #62
Closing this as there hasn't been activity for over a year.

[2020-08-28 11:11] #62 closed

[2020-08-28 11:11] #63 closed

[2020-08-28 11:11] gabrielwalt commented on #69
Closing this as there hasn't been activity for over a year.

[2020-08-28 11:11] #69 closed

[2020-08-28 11:11] gabrielwalt commented on #72
Closing this as there hasn't been activity for over a year.

[2020-08-28 11:11] #72 closed

[2020-08-28 11:11] gabrielwalt commented on #74
Closing this as there hasn't been activity for over a year.

[2020-08-28 11:11] #74 closed

[2020-08-28 11:11] gabrielwalt commented on #76
Closing this as there hasn't been activity for over a year.

[2020-08-28 11:11] #76 closed

[2020-08-28 11:12] gabrielwalt commented on #79
Closing this as there hasn't been activity for over a year.

[2020-08-28 11:12] #79 closed

[2020-08-28 11:12] #80 closed

[2020-08-28 11:12] #81 closed

[2020-08-28 11:12] #85 closed

[2020-08-28 11:13] #86 closed

[2020-08-28 11:39] timdonovanuk commented on #72
@gabrielwalt Are you referring to Adobe investment in this plugin, because a truer statement has never been said ;)

[2020-09-16 09:55] vladbailescu opened #91 "Update plugin to support archetype version 24"

[2020-10-28 15:09] elohanlon opened #93 "AEM content sync root directory keeps getting reset after Maven -> Update Project"
### Expected Behaviour

In Eclipse, for the ui.apps project, importing an Archetype 24 maven project should result in an AEM content sync root directory of "src/main/content/jcr_root", but instead sets the content sync root to "src/main/resources".

If you update the content sync root to "src/main/content/jcr_root" and later run Maven -> Update Project, that action resets the content sync root dir

[2020-11-10 05:58] elohanlon commented on #93
I was told by Adobe support that this issue is related to https://github.com/adobe/aem-eclipse-developer-tools/issues/91, so I'm mentioning it here to link the two issues.

[2020-12-09 21:41] motoyamakai commented on #91
Hello @vladbailescu,

My name is Kai Motoyama, technical support engineer for Adobe Experience Manager. I would like to follow up regarding this issue because we have seen that this is an issue affecting multiple customers. Please let me know of any updates we may see in the future or a projected timeline.

Regards,
Kai Motoyama

[2021-01-21 15:32] riosmart commented on #91
hi @vladbailescu, following up similarly to Kai, I also have a customer that is facing difficulties as they need to update to archetype 24 but cannot do so until the plugin is updated. Any word on a timeline or an update?

Thanks,
Cristopher Rios